<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>JSON data</title>
  </head>
  <body>
    <div style="background-color:#3344bb">
      <h1>Pizzabutikken!</h1>
    </div>
    <a href="/tilfoj">Tilføj ny pizza</a>
    {% for pizza in pizzaer %}
    <div style="background-color:#3344bb20; margin:20px; padding:20px">
      <h3>{{ pizza['name'] }}</h3><br>
      <p>{{ pizza['description'] }}</p><br>
      <p>Pris: {{ pizza['price'] }}</p>
    </div>
    {% endfor %}
  </body>
</html>
